/* Restyle */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  color: #2f3542;
}

body {
  background-color: #747d8c;
  font-family: 'Nunito Sans', sans-serif;
}

/* Page Layout */
.container {
  width: 100vw;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  background-color: #f1f2f6;
}

.nav {
  width: 100%;
  height: 30%;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ced6e0;
  text-align: center;
}

.content {
  width: 100%;
  height: 70%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.porLink {
  display: flex;
  justify-content: center;
}

.basicBtn {
  margin: 5px;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  background-color: #57606f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: #f1f2f6;
}

.center {
  text-align: center;
}

.name {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
}

/* Icons */
.navIcon{
  height: 100px;
}

.linkIcon {
  height: 1em;
}

.notice {
  font-size: 1.5em;
}

.behance {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

.basicBtn:hover {
  background-color: #ced6e0;
}

/* Item */
.item {
  margin-top: 20px;
}

.itemTop {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #ced6e0;
}

.itemBottom {
  width: 300px;
  height: 300px;
  background-color: #ced6e0;
}

.itemLangauge {
  z-index: 5;
}

.itemImg {
  width: inherit;
  height: inherit;
  z-index: 100;
  position: absolute;
}

.itemImg:hover {
  transform: rotate(20deg);
  transform-origin: top left;
  -webkit-transition: -webkit-transform 1s
}
